version: "3.3"

services:
  db:
    build:
      context: "./backend"
      dockerfile: "db.dockerfile"
    env_file:
      - ".env.dev"
    # Ports are only open for dev
    ports:
    - "5435:5432"
    networks:
      - "tuskynet"
    volumes:
      - "tusky:/var/lib/postgresql/data"

  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
#    environment:
#      - SERVER_NAME=${DOMAIN}
#      - SERVER_HOST=https://${DOMAIN}
#      - SMTP_HOST=${SMTP_HOST}
    env_file:
      - ".env.dev"
    volumes:
    - "./backend/:/src"
    networks:
      - "tuskynet"
    links:
      - "db:db"
    depends_on:
      - "db"
    command: "./_wait_for_it.sh -q db:5432 -- python manage.py runserver"
    ports:
      - "8000:8000"


volumes:
  tusky:

networks:
  tuskynet:
    driver: "bridge"
