version: "3.3"

services:
  db:
    build:
      context: "./"
      dockerfile: "Dockerfile.db"
    env_file:
      - ".env.dev"
#     Ports is only open for dev
#    ports:
#    - "5432:5432"
    networks:
      - "tuskynet"
    volumes:
      - "tusky:/var/lib/postgresql/data"

  web:
    build:
      context: "./"
      dockerfile: "Dockerfile.web"
    env_file:
      - ".env.dev"
    volumes:
    - "./:/src"
    networks:
      - "tuskynet"
    links:
      - "db:db"
    ports:
    - "8000:8000"
    depends_on:
      - "db"

volumes:
  tusky:

networks:
  tuskynet:
    driver: "bridge"