# Todo: Lock in versioning, get dependencies

fastapi
Jinja2           # Template engine
aiofiles         # Serves static files (async)
python-multipart # Allows FastAPI to use forms instead of JSON
pydantic         # Data validation through Python type annotations
python-socketio

##############################################################################
# Database stuff
# SQLALchemy 1.4 is a transition release before 2.0.
# Using 1.4 (and adhering to deprecation warnings) ensures a smooth transition to 2.0
SQLAlchemy==1.4.0b3 # ORM (Object Relational Mapper)
alembic             # Database migration tool
psycopg2            # Database driver for Postgres. TODO: Use async version
click               # Command-Line Interface Creation Kit

##############################################################################
# Deployment
uvicorn[standard] # ASGI server implementation. The standard adds WebSocket support https://github.com/tiangolo/fastapi/issues/2209#issuecomment-713341164
#gunicorn         # server, process manager.

##############################################################################
# Development Requirements
pytest

