<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example</title>
</head>
<body>
<h1>Example Login</h1>

<form>
  <h2>Create Account</h2>
  <input placeholder="Enter your username" type="text" autocomplete="false" spellcheck="false"><br/>
  <input placeholder="Enter your password" type="password"><br/>
  <input placeholder="Confirm your password" type="password"><br/>
  <input type="submit">
</form>
<br/>

<form>
  <h2>Login</h2>
  <input placeholder="Enter your username" type="text" autocomplete="false" spellcheck="false"><br/>
  <input placeholder="Enter your password" type="password"><br/>
  <input type="submit">
</form>


</body>
</html>
