<div class="content" xmlns="http://www.w3.org/1999/html">
    <header class="tusky-navbar">
    </header>
    <nav class="tusky-menu-container">
    </nav>

    <div class="chooseRoom">
        <div id="tuskyFormContainerJoin" role="main">
            <form id="tusky_form_join" action="" onsubmit="joinRoom(event)">
                <fieldset class="signin-fieldset">
                    <h2>JOIN ROOM</h2>
                    <div class="form-group RoomCode">
                        <label for="roomCode" class="text-signin">
                            ROOM CODE
                        </label>
                        <input name="roomcode" id="roomCode" class="form-control tusky-input" type="text" tabindex="0" placeholder="ENTER 5-LETTER CODE" style="text-transform:uppercase;" maxlength="5" autocorrect="off" autocomplete="off" autocapitalize="off">
                    </div>
                    <div class="form-group Name">
                        <label for="username" class="text-signin">
                            NAME
    <!--                        <span class="name-char-remaining pull-right"></span>-->
                        </label>
                    <input name="name" id="username" class="form-control tusky-input" type="text" placeholder="ENTER YOUR NAME" style="text-transform:uppercase;" maxlength="16" value="" autocapitalize="off" autocorrect="off" autocomplete="off">
                    </div>
                    <button id="button-play" class="button-signin">
                        <span class="play-text">
                            PLAY
                        </span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', path='scripts/select_room.js') }}"></script>

{% include '_tos_warning.html' %}
